
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
}

footer {
    margin-top: auto;
    background-color: white;
    text-align: center;
    flex-shrink: 0;
}

header {
    display: flex;
    background-color:white;
    height: 23rem;
    padding: 1rem 10rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /*
    border-bottom: 50px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #6c26e4, #ed4db3);
    */
}

.content {
    display: flex;
    background-color: black;
    border-radius: 0.2rem;
    padding: 10rem;
    height: 10rem;
    flex-grow: 1;
    margin: 2rem 10rem;
    margin-top: 5rem;
    border: 10px white solid;

}

.content p {
    color: whitesmoke;
}

footer p {
    font-size: 1rem;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 2rem;
}

#myName {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}

#myName  p {
    margin: .2rem;
}

#firstName {
    color: rgb(99, 96, 96);
}



.content p {
    margin: 0;
}

/*
header img {
    height: 15rem;
    width: auto;
    opacity: 0.85;
    border-bottom: 0.5rem solid rgb(46, 46, 240);
    border-top: 0.5rem solid rgb(136, 159, 241);
    border-left: 0.5rem solid rgb(65, 104, 188);
    border-right: 0.5rem solid rgb(37, 19, 125);
    border-top-left-radius:2rem;
    border-bottom-right-radius: 2rem;
}
*/

#welcome-text {
    color: white;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem
}
/*
header img {
    height: 15rem;
    width: auto;
    opacity: 0.9;
    border-bottom: 0.5rem solid #302a36;
    border-top: 0.5rem solid #e9b3fd;
    border-left: 0.5rem solid rgb(37, 19, 125);;
    border-right: 0.5rem solid rgb(37, 19, 125);
    border-radius: 3rem;
}
*/

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    height: 15rem;
    width: auto;
    opacity: 0.9;
  }
  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #6c26e4, #ed4db3);
  }

  svg {
    background-color: black;
    width: 100%;
    
    

  }
