* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.75s ease-in;
}

footer {
    padding: 2rem;
    margin-top: auto;
    background-color: white;
    text-align: center;
    flex-shrink: 0;
}

header {
    display: flex;
    background-color:white;
    min-height: 50vh;
    padding: 5.5% 10%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /*
    border-bottom: 50px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #6c26e4, #ed4db3);
    */
}

.content {
    display: flex;
    background-color: black;
    border-radius: 0.2rem;
    padding: 2rem;
    height: 100vh;
    flex-grow: 1;
    margin: 2rem 10rem;
    margin-top: 5rem;
    border: 10px white solid;
    justify-content: space-around;

}

.content p {
    color: whitesmoke;
}

footer p {
    font-size: 1rem;
}

p, a {

    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 2rem;
    text-decoration: none;
}




.content p, .content {
    animation: fade 1.75s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    height: 15rem;
    width: auto;
    opacity: 0.9;
  }
  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #6c26e4, #ed4db3);
  }

  svg {
    background-color: black;
    width: 100%;
  }



h1 {
    color: white;
}



.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

#arrow {
    padding: 5vh;
    color: white;
    align-self: center;
}

#content-pic {
    margin: 0;
    height: 15rem;
    max-height: 100%;
    max-width: 100%;
    border: 1px gray dotted;
    border-radius: 10%;
}

#content-text {
    margin: 1rem 2rem;
    max-width: 100%;
    max-height: 100%;
}



#intro {
    color: black;
    font-size: 1.618rem;
    text-align: left;
}
#myName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
}


#full-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .2rem;
    margin-top: 6vh; /* Adjust the top margin as needed */
}

#firstname, #lastname {
    font-size: 2.618rem;
    padding: 0.2rem;
}

.dot {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.618rem;
    background: linear-gradient(to left, #6c26e4, #ed4db3);
    -webkit-background-clip: text; /* For Safari/Chrome/iOS */
    background-clip: text;
    color: transparent; /* Make the text transparent so that the gradient shows through */
}

.nav {
    display: flex;
    height: 11.5vh;
    width: 100%;
    width: 100vw;
    box-sizing: border-box;

    background-color: white;
    border: 2px black solid;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;
}

.nav p, .fixed-nav p {
    color: black;
    font-size: 1.68rem;
}


.fixed-nav {
    display: flex;

    box-sizing: border-box;
    display: flex;
    height: 11.5vh;
    position: fixed;
    z-index: 1; /* This ensures the nav stays on top of other content */

    display: flex;
    height: 11.5vh;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

#arrow {
    transition: opacity 1s; /* Smooth transition */
}
body {
    max-width: 100%;
    overflow: hidden;
}
html {
    overflow: scroll;
    max-width: 100%;
}


body {
    position: relative;
}

.content-2, .content-3{
    margin-top: 10vh;
    background-color: white;
    height: 87.5vh;
    width: 100%;
    padding: 10vh;
}

.content-3 {
    background-color: black;
}
.content-3 p {
    color: white;
}



.nav a {
    text-decoration: none;
    position: relative;
    color: black; /* Fallback color */
}

.nav a:hover {
    background: linear-gradient(to left, #6c26e4, #ed4db3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav a::before,
.nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the thickness of the line here */
    bottom: -5px; /* Adjust the position of the line here */
    margin: auto;
    background: linear-gradient(to left, #6c26e4, #ed4db3);
    transition: all 0.5s;
}

.nav a::before {
    left: 50%;
}

.nav a::after {
    right: 50%;
}

.nav a:hover::before,
.nav a:hover::after {
    width: 50%;
}




@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .content {
        display: grid;
        padding: 1rem;
        margin: 1rem;
    }

    #content-pic, #content-text {
        max-width: 100%;
        height: auto;
        font-size: 1.5rem;
    }
    

    header {
        position: relative;
        flex-direction: column;
        height: auto;
        padding: 1rem;
        min-height: 55vh;
        justify-content: space-around;
        
    }

    #arrow {
        padding: 5vh;
    }

    .fixed-nav {
        margin-bottom: 5vh;
        width: 100%;
        box-sizing: border-box;
    
    }

    header, footer {
        padding: 1rem;
    }

    p {
        font-size: 1.5rem;
    }

    #myName p {
        margin: .1rem;
    }

    .content {
        flex-direction: row;
    }
}




